*.x
*.o
*.out

census
thanksgiving_data
.Rproj.user
*.Rhistory
*.Rproj
*.pickle
*.pdf
04_hmm/ECG_processed_data/*
05_keras/keras_lab_3/imgs/*
05_keras/MNIST_data/*
individual_project/references/*
*.csv
02_scikit_learn/scikit_learn_map.png
05_keras/.ipynb_checkpoints/
05_keras/intro_to_keras.ipynb
05_keras/keras_lab_3/*
individual_project/presentation/presentation.html
02_scikit_learn/co2/co2_weekly_mlo.txt
04_hmm/hmm_notebook/plot_hmm_sampling.ipynb

ad934b89c988f7c957652f57a636b31f7d4a7da6
